Mine
*.user
Streamberry.pro.user
/*.pro~
/Makefile
/Makefile.Debug
/Makefile.Release
/addtoplaylistbutton.h
/blah.cpp
/blah.h
/librarycontroller.cpp.bak
/main.cpp.bak
/mainwindow.cpp.bak
/mainwindow.h.bak
/object_script.Streamberry.Debug
/object_script.Streamberry.Release
/playlist.cpp.bak
/sidebarcontroller.cpp.bak
/trackcontext.h.bak
/debug/
/release/
